

.chat-info {
    flex-grow: 1;
}

.chat-info h5 {
    margin: 0;
    font-weight: 500;
}

.chat-info p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #666;
}

.chat-timestamp {
    font-size: 0.8em;
    color: #999;
}

/* Right Chat Window */
.chat-window {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    position: relative;
}

.chat-header {
    background-color: var(--blue-color);
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.chat-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-header .header-info {
    flex-grow: 1;
}

.chat-header .header-info h4 {
    margin: 0;
    font-weight: 500;
}

.chat-header .header-info p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #ddd;
}

.chat-body {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f7f4f1;
}

.message {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.message.sent .bubble {
    background-color: var( --beige-color);
    margin-left: auto;
}

.message.received .bubble {
    background-color: #fff;
    margin-right: auto;
}

.bubble {
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.timestamp {
    font-size: 0.75em;
    color: #999;
    margin-top: 5px;
}

/* Chat Input Area */
.chat-input {
    background-color: #f0f0f0;
    padding: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.chat-input button {
    margin-left: 10px;
    background-color: var(--blue-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}