.slider_img {
  width: 100%;
  height: 80vh;
  filter: brightness(0.4);
  object-fit: cover;
}
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end,
.carousel-fade .carousel-item.active {
    z-index: 0;
    opacity: 1;
}

.top_left {
  position: absolute;
  left: 120px;
  right: 120px;
  top: 55%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-breadcrumbs .breadcrumb-item {
  color: var(--white-color);
}

.title_events {
  font-family: Montserrat, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 64.2px;
  background: linear-gradient(90deg, #6da6ba 0%, #f2c79d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}
.btn_top_right {
  position: absolute;
  top: 1px;
  right: 13px;
}
.img_events {
  height: 320px;
}
.category_events {
  background-color: var(--blue-color);
  border: none;
  width: 100%;
  height: 55px;
  color: #fff;
  border-radius: 15px;
  box-shadow: 6px 4px 4px 0px #f2c79d;
}
.events_date_bottom_right {
  position: absolute;
  bottom: 55px;
  left: 36px;
  right: 36px;
  font-size: 18px;
  font-weight: 400;
  line-height: 54px;
  color: #fff;
}
/* CATEGORY EVENTS PAGE */
.catg_events {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
.booknow_button_events {
  width: 129px;
  height: 44px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #f2c79d 24.5%, #afb7ab 50%, #6da6ba 82%);
}
.booknow_button_events:hover {
  transition: all ease-in-out 450ms;
  box-shadow: 6px 4px 4px 0px #f2c79d;
}
/* EVENTS DETAILS PAGE */

.small-images-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  scroll-behavior: smooth;
  justify-content: center;
  width: 100%;
}

/* Remove the scrollbar (optional) */
.small-images-container::-webkit-scrollbar {
  display: none;
}

.small-images-container img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.small-images-container img:hover {
  transform: scale(1.1);
}

/* Style for the arrows */
.arrow {
  background: linear-gradient(180deg, #6da6ba 0%, #b0b7ac 50%, #f2c79d 100%);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px; /* Arrow size */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Center arrows for smaller screens */
.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.chatbot_events {
  width: 100%;
  height: 450px;
  border-radius: 4px 0px 0px 0px;
  box-shadow: 12px 12px 4px 0px #6da6ba;
  background: #f3f3fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
}
.chat_title {
  font-family: Merriweather;
  font-size: 26.56px;
  font-weight: 700;
  line-height: 35.33px;
}
.input_chatbot{
    width: 100%;
height: 78.43px;
border-radius: 4px 0px 0px 0px;
border: 1px solid #6da6ba;
}
@media screen and (max-width: 768px) {
  /* .top_left {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  .text_card_det {
    font-size: 14px;
    line-height: 17px;
  }
  .small-images-container {
    margin-left: 10px; /* Ensure the container is centered */
  }

  .arrow-left,
  .arrow-right {
    top: 50%;
    transform: translateY(-50%);
  }
}
