:root{
  --white-color:#fff;
  --beige-color:#F2C79D;
  --blue-color: #6DA6BA;

}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin_section {
  margin-top: 15vh;
}
.mainHome_img {
  width: 100%;
  max-width: 613px;
  height: 470px;
  border-radius: 40px;
  box-shadow: 16px 16px 4px 0px rgba(109, 166, 186, 1);
  transform: translateX(100%);
  opacity: 0; 
  animation: slideInFromRight 1s forwards;
  object-fit: cover;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); 
    opacity: 0; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1; 
  }
}

.maintext_home {
  font-family: Poppins;
  font-size: 42px;
  font-weight: bold;
  line-height: 63px;
  color: #152c5b;
}
.text_home {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #b0b0b0;
}
/* FILTRATION BOX */
.cont_search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #d5e6f685;
  height: 100px;
}

.col_cont_search {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.filter_home {
  width: 160px;
  height: 50px;
  box-shadow: 10px 5px 5px 0px #f2c79d;
  margin: 5px;
  transition: all 0.3s ease;
}

.btn_text_filter {
  font-size: 15px;
  padding-left: 5px;
}
.search_btn_home {
  margin-top: 2vh;
}
/* SERVICES SECTION */

.cont_img_home_serv {
  position: relative;
  
}
/* .top-right {
  position: absolute;
  top: 1px;
  right: 13px;
} */
.bottom-right {
  position: absolute;
  bottom: 55px;
  right: 36px;
  font-size: 28px;
  font-weight: 400;
  line-height: 54px;
  color: #fff;
}
/* .img_services_home {
  border-radius: 15px;
  width: 100%;
  height: 200px;
  margin-bottom: 5vh;
  box-shadow: 12px 12px 4px 0px #6da6ba;
}
.img_services_home:hover,
 .toppicks_home_img:hover{
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
} */
.img_services_home {
  border-radius: 15px;
  width: 100%;
  height: 200px;
  margin-bottom: 5vh;
  transition: transform 0.3s ease; 
}

.img_services_home:hover,
.toppicks_home_img:hover {
  box-shadow: 3px 6px 2px 0px #6da6ba;
  transform: scale(1.1); 
  transition: all ease-in-out 350ms;
}

.service_home_overlay {
  color: #fff;
  background: linear-gradient(180deg, #f2c79d 0%, #6da6ba 100%);
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  height: 41px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  margin-left: 8vh;
  
}
.services_btn_home {
  font-size: 20px;
  font-weight: 600;

}
/* TOP PICKS SECTION */
.toppicks_home_img{
  border-radius: 15px;
  width: 100%;
  height: 200px;
  box-shadow: 12px 12px 4px 0px #F2C79D;
  object-fit: cover;
  margin-bottom: 20px;

}

.title_of_toppick{
color: #152C5B;
}
.parg_of_toppicks{
font-size: 15px;
font-weight: 300;
line-height: 15.5px;
color: #B0B0B0;
}
.cont_card_blogs {
  box-shadow: 12px 12px 4px 0px #6da6ba;
  margin-bottom: 5vh;
  height: 550px !important;
  overflow: hidden;
  }
.cont_card_blogs .column-title, .cont_card_blogs .title_chalets {
  display: -webkit-box;            
  -webkit-line-clamp: 9;           
  -webkit-box-orient: vertical;   
  overflow: hidden;              
  text-overflow: ellipsis;         
  height: auto;   
}

.cont_card_blogs:hover{
  box-shadow: 4px 4px 4px 0px var(--beige-color);
  transition: all ease-in-out 350ms;
}
@media screen and (max-width: 768px) {
  .home-container {
    margin-top: 8vh;
    text-align: center;
  }
  .mainHome_img {
    margin-top: 4vh;
    height:300px
  }

  .col_cont_search {
    flex-direction: column;
    align-items: center;
  }
  .cont_search {
    height: auto;
    width: 100%;
    padding: 15px;
  }
  .service_home_overlay {
    margin-left: 0;
  }
  .services_btn_home {
    font-size: 14px;
  }
}
