.lands_btn {
  width: 192px;
  height: 55px;
  border-radius: 12px;
  background: #e7c873;
  margin-top: 15px;
}
.cont_card_lands {
  box-shadow: 12px 12px 4px 0px #6da6ba;
  margin-bottom: 5vh;
  height: 400px;
}
.lands_btn:hover {
  box-shadow: 4px 4px 4px 0px var(--beige-color);
  transition: all ease-in-out 450ms;
}
.why_work_text {
  font-size: 13px;
}
/* SECOND LANDS */
.cont_exclusive_lands {
  background: #2d3a4f;
  padding: 55px;
}
.title_exclusive_lands {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  padding: 55px;
}
/* LANDS DETAILS */
.box_Brief_characteristics_lands {
  background: #f3f3fa;
  width: 100%;
  border-radius: 14px;
  display: flex;
  padding: 10px;
  box-shadow: 10px 10px 4px 0px var(--beige-color);
}

/* Date Picker Container */
.date-picker-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

/* Calendar Styling */
.calendar {
  position: relative;
  width: 100%;
  max-width: 600px;
  background: linear-gradient(180deg, #f2c79d 0%, #6da6ba 100%);

  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: block;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header .month {
  font-size: 18px;
  font-weight: bold;
}

.calendar-header button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.calendar-header button:hover {
  background-color: #ddd;
}

/* Days of the Week Styling */
.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
}

.calendar-day {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

.calendar-day.selected {
  background-color: #007bff;
  color: white;
}

.empty-day {
  display: inline-block;
  padding: 10px;
}
/* Custom Time Picker Styles */
.time-picker-container {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.time-picker-label {
  font-size: 18px;
  margin-bottom: 10px;
}

.custom-time-picker {
  display: inline-block;
  position: relative;
  width: 100%;
}

.custom-select {
  width: 150px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none; /* Removes default select styling */
}

.custom-select:focus {
  outline: none;
  border-color: #4a90e2;
}

.custom-select option {
  padding: 8px;
}



/* Responsive Design */
@media (max-width: 768px) {
  .calendar {
    width: 100%;
    padding: 15px;
  }
}
