
  /* Input Fields */
  .field {
    margin-bottom: 25px;
  }
  
  .field.full {
    width: 100%;
  }
  
  .field.half {
    width: calc(50% - 12px);
  }
  
  .label_of_payment {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 8px;
  }
  
  .input_payment {
    padding: 12px;
    border-radius: 6px;
    border: 2px solid #e8ebed;
    display: block;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .input_payment::placeholder {
    color: #e8ebed !important;
  }
  
  /* Flexbox Layout */
  .flex_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex_display.justify-space-between {
    justify-content: space-between;
  }
  
  /* Card Styles */
  .card_cont {
    padding: 50px;
    margin: 50px auto;
    max-width: 850px;
    background: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0px 24px 60px -1px rgba(37, 44, 54, 0.14);
  }
  
  .main_cont_payment {
    max-width: 700px;
    margin: 0 auto;
  }
  
  .payment-type, .payment-info {
    margin-bottom: 25px;
  }
  
  .payment-type h4 {
    margin: 0;
  }
  
  .types {
    margin: 25px 0;
  }
  
  .type {
    width: 100%;
    position: relative;
    background: #f2f4f7;
    border: 2px solid #e8ebed;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease;
  }
  
  .type:hover {
    border-color: #28333b;
  }
  
  .type.selected {
    border-color: #40b3ff;
    background: rgba(64, 179, 255, 0.1);
  }
  
  .type.selected .logo {
    color: #40b3ff;
  }
  
  .type.selected .para_payment {
    color: #28333b;
  }
  
  .type.selected::after {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    height: 40px;
    width: 40px;
    top: -21px;
    right: -21px;
    background: #fff;
    border: 2px solid #40b3ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo_payment, .para_payment {
    transition: all 0.5s ease;
  }
  
  .logo_payment {
    font-size: 48px;
    color: #8a959c;
  }
  
  .para_payment {
    margin-bottom: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #8a959c;
    padding: 10px;
  }
  
  /* Payment Info */
  .payment-info {
    display: flex;
    justify-content:center

  }
  
  .column_shipping {
    width: calc(50% - 25px);
  }
  
  .title_of_credit {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .num {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid #40b3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 12px;
    font-size: 12px;
  }
  

  
  /* Button Styles */
  .btn_payment {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    background: transparent;
    border: 2px solid transparent;
  }
  
  .btn_payment.button-link {
    padding: 0 0 2px;
    margin: 0 25px;
    border-bottom: 2px solid rgba(64, 179, 255, 0.5);
    border-radius: 0;
    opacity: 0.75;
  }
  
  .btn_payment.button-link:hover {
    border-bottom: 2px solid rgba(64, 179, 255, 1);
    opacity: 1;
  }
  
  .btn_payment.button-primary {
    background: #40b3ff;
    color: #fff;
  }
  
  .btn_payment.button-primary:hover {
    background: #218fd9;
  }
  
  .btn_payment.button-secondary {
    background: transparent;
    border-color: #e8ebed;
    color: #8a959c;
  }
  
  .btn_payment.button-secondary:hover {
    border-color: #28333b;
    color: #28333b;
  }
  